/* IMPORTING FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");

/* BODY */
body {
  background-color: #2d2b55;
  color: white;
  font-family: "Courier New", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
}

/* H1 FONT */
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900; /* Ultra Bold */
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px; /* Small space below */
}

/* H4 FONT  */
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 2px;
  margin-bottom: 20px;
}

/* TEAM MEMBER BUTTONS */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}
.team-button {
  background-color: #43306a;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.75rem;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.team-button:hover {
  background-color: #5a3e8d;
  border-color: white;
}
